{% extends 'layouts/input.html' %}
{% block inputs %}
<div class="w-full flex flex-wrap" data-comp="dynamic-text">
    <!-- Use a dropdown for options instead of radio buttons -->
    <select id="{{ key }}" class="w-full border border-neutral-400 p-1 rounded-md">
        {% for option in options %}
        <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
    </select>
    <div class="w-full bg-white border border-neutral-400 p-1 rounded-md" contenteditable="true">{{ options[0].value }}</div>
    <input type="text" id="{{ key }}-text-input" name="{{ key }}" class="hidden-input">
</div>
{% endblock %}