<!-- MARK: Form -->
<form id="tadaa-form" action="/" method="post" enctype="multipart/form-data">
    <h1 class="text-5xl my-6"><em>TADAA</em>bot Form</h1>
    <!-- Sitebulb Upload -->
    {% set section_name = "1. Upload Sitebulb 'exports'" %}
    {% set section_contents %}
    <div class="flex items-center justify-center w-full">
        <label id="upload-file-container" for="spreadsheet-selection" class="flex flex-col items-center justify-center w-full h-64 border-2 border-neutral-300 border-dashed rounded-lg cursor-pointer bg-neutral-50 hover:bg-neutral-200 hover:border-neutral-400 mb-4">
            <div id="droparea" class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg id="file-upload-image"aria-hidden="true" class="w-10 h-10 mb-3 text-neutral-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                <p class="mb-2 text-sm text-neutral-500"><span class="font-semibold">Click to upload</span></p>
                <p class="text-xs text-neutral-500">Only accepts "exports" folder</p>
            </div>
            <input
                id="spreadsheet-selection"
                class="hidden"
                type="file"
                name="spreadsheet-selection"
                required 
                accept=".csv, .xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                multiple 
                webkitdirectory
            >
        </label>
    </div>
    {% endset %}
    {% include 'sections/audit-form/form-section.html' %}
    <!-- Site Information -->
    <section>
        <fieldset>
            <legend><h2 class="text-2xl text-neutral-600 my-4 px-2">n. Site Information</h2></legend>
            <div class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="domain_url"><span>Domain name</span></label>
                <input
                    type="text"
                    id="domain_url"
                    name="domain_url"
                    class="border border-neutral-400 p-1 rounded-md font-normal"
                    placeholder="https://"
                />
            </div>
            <!-- Does CMS go into the tech audit? Or can we remove this? -->
            <div class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="cms">CMS</label>
                <select id="cms" name="cms" class="w-full border border-neutral-400 p-1 rounded-md">
                    <option value="wordpress">WordPress</option>
                    <option value="shopify">Shopify</option>
                    <option value="bigcommerce">BigCommerce</option>
                    <option value="squarespace">SquareSpace</option>
                    <option value="wix">Wix</option>
                    <option value="weebly">Weebly</option>
                    <option value="godaddy">GoDaddy</option>
                    <option value="duda">Duda</option>
                    <option value="square">Square</option>
                    <option value="other">Other</option>
                </select>
                <input type="text" id="other_cms" name="other_cms" class="w-full border border-neutral-400 p-1 rounded-md hidden-input">
            </div>
            {% set key, prompt = 'robots-bool', 'Does the site have a robots.txt?' %}
            {% include 'sections/audit-form/inputs/boolean.html' %}
            <div class="p-3 grid grid-cols-2 even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="sitemap_url">7. <span>Sitemap Slug</span></label>
                <select id="sitemap_url" name="sitemap_url" class="w-full border border-neutral-400 p-1 rounded-md">
                    <option value="sitemap.xml">sitemap.xml</option>
                    <option value="sitemap_index.xml">sitemap_index.xml</option>
                    <option value="xmlsitemap.php">xmlsitemap.php</option>
                    <option value="other">Other</option>
                </select>
                <input type="text" id="other_sitemap_url" name="other_sitemap_url" class="w-full border border-neutral-400 p-1 rounded-md hidden-input">
            </div>
            <div class="p-3 grid grid-cols-2 even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="sitemap_url">7. <span>Robots.txt URL</span></label>
                <select id="sitemap_url" name="sitemap_url" class="w-full border border-neutral-400 p-1 rounded-md">
                    <option value="sitemap.xml">sitemap.xml</option>
                    <option value="sitemap_index.xml">sitemap_index.xml</option>
                    <option value="xmlsitemap.php">xmlsitemap.php</option>
                    <option value="other">Other</option>
                </select>
                <input type="text" id="other_sitemap_url" name="other_sitemap_url" class="w-full border border-neutral-400 p-1 rounded-md hidden-input">
            </div>
        </fieldset>
    </section>
    <!-- Google Search Console -->
    {% set section_name = "n. Google Search Console" %}
    {% set section_contents %}
        {% set key, prompt = 'sc_bool', 'Is Search Console installed on the site?' %}
        {% include 'sections/audit-form/inputs/boolean.html' %}
        {% set key, prompt = 'sc_sitemap_submitted_bool', 'Has a sitemap been submitted?' %}
        {% include 'sections/audit-form/inputs/boolean.html' %}
    {% endset %}
    {% include 'sections/audit-form/form-section.html' %}
    <!-- Google Analytics -->
    <section>
        <fieldset>
            <legend><h2 class="text-2xl text-neutral-600 my-4">n. Google Analytics</h2></legend>
            <li class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left">Is Google Analytics installed on the site?</label>
                <div class="w-full flex justify-around">
                    <span>
                        <input type="radio" id="yes" name="ga_access" value="true" class="scale-150 mr-1">
                        <label for="yes">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="no" name="ga_access" value="false" class="scale-150 mr-1">
                        <label for="no">No</label>
                    </span>
                </div>
            </li>
        </fieldset>
    </section>
    <!-- PageSpeed Insights -->
    <section>
        <fieldset>
            <legend><h2 class="text-2xl text-neutral-600 my-4">n. PageSpeed Insights</h2></legend>
            <div class="p-3 grid grid-cols-2 even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="mobility_issues">5. <span>Number of Mobile Usability Issues</span></label>
                <div class="w-full flex flex-row justify-center">
                    <input
                        type="number"
                        id="mobility_issues"
                        name="mobility_issues"
                        min="0"
                        value="0"
                        class="border border-neutral-400 p-1 rounded-md w-1/4 mr-2"
                    />
                    <p class="pt-4">Issues</p>
                </div>
            </div>
        </fieldset>
    </section>
    <!-- Slide Notes -->
    <section>
        <fieldset>
            <legend><h2 class="text-2xl text-neutral-600 my-4">n. Slide Notes</h2></legend>

            <ol>
                {% for slide in slides %}
                    <h4 class="text-lg font-bold">{{ slide.index }}. {{ slide.name }}</h4>
                    <li class="p-3 even:bg-neutral-50 odd:bg-sky-200">
                        {% for input in slide.inputs %}
                            {% if input.type != "deletion" %}
                                {% set key, prompt = input.id, input.id %}
                                {% include 'sections/audit-form/inputs/' + input.type + '.html' %}
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ol>

        </fieldset>
    </section>
    <!-- Submission Button -->
    <section>
        <h2 class="text-2xl text-neutral-600 my-4">n. Submit this form to make the PowerPoint</h2>
        <input
            id="submit-input"
            class="text-center bg-green-200 enabled:hover:bg-green-300 w-full p-6 rounded-md border border-green-700 font-medium text-lg my-4 enabled:hover:cursor-pointer enabled:hover:drop-shadow-md enabled:active:bg-green-400 disabled:opacity-50"
            type="submit"
            name="generate_ppt"
            value="Generate PPT"
            disabled
        >
        <p class="text-center text-lg italic text-neutral-400">The .pptx should download automatically once completed.</p>
    </section>
    <h3 id="form-status" class="py-4 text-center font-medium text-xl text-neutral-500"><em>The "Technical Audit Documentation Automation Assistant", or TADAA!</em></p>
</form>