click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
python-pptx==0.6.21
openpyxl==3.0.10
pandas==1.5.3
seaborn==0.12.2
uuid
pytailwindcss
flask-login==0.6.2