<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" cntent="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="flex flex-col justify-center">
        {% block page %}{% endblock %}
    </div>
</body>
</html>