<section>
    <h2 class="text-2xl text-neutral-600 my-4">2. Additional information</h2>
    <div>
        <h3 class="text-xl italic text-neutral-500 my-2">Site Data</h3>
        <ol>
            <li class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="domain_url">1. <span>Domain</span></label>
                    <input
                        type="text"
                        id="domain_url"
                        name="domain_url"
                        class="border border-neutral-400 p-1 rounded-md font-normal"
                        placeholder="https://"
                    />
            </li>
            <li class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="cms">2. <span>CMS</span></label>
                <select id="cms" name="cms" class="w-full border border-neutral-400 p-1 rounded-md">
                    <option value="wordpress">WordPress</option>
                    <option value="shopify">Shopify</option>
                    <option value="bigcommerce">BigCommerce</option>
                    <option value="squarespace">SquareSpace</option>
                    <option value="wix">Wix</option>
                    <option value="weebly">Weebly</option>
                    <option value="godaddy">GoDaddy</option>
                    <option value="duda">Duda</option>
                    <option value="square">Square</option>
                    <option value="other">Other</option>
                </select>
                <input type="text" id="other_cms" name="other_cms" class="w-full border border-neutral-400 p-1 rounded-md hidden-input">

            </li>
            <li class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left">3. <span>SC access</span></label>
                <div class="w-full flex justify-around">
                    <span>
                        <input type="radio" id="yes" name="sc_access" value="true" class="scale-150 mr-1">
                        <label for="yes">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="no" name="sc_access" value="false" class="scale-150 mr-1">
                        <label for="no">No</label>
                    </span>
                </div>
            </li>
            <li class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left">4. <span>GA access</span></label>
                <div class="w-full flex justify-around">
                    <span>
                        <input type="radio" id="yes" name="ga_access" value="true" class="scale-150 mr-1">
                        <label for="yes">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="no" name="ga_access" value="false" class="scale-150 mr-1">
                        <label for="no">No</label>
                    </span>
                </div>
            </li>
            <li class="p-3 grid grid-cols-2 even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="mobility_issues">5. <span>Number of Mobile Usability Issues</span></label>
                <div class="w-full flex flex-row justify-center">
                    <input
                        type="number"
                        id="mobility_issues"
                        name="mobility_issues"
                        min="0"
                        value="0"
                        class="border border-neutral-400 p-1 rounded-md w-1/4 mr-2"
                    />
                    <p class="pt-4">Issues</p>
                </div>
            </li>
            <li class="p-3 grid grid-cols-2 text-left even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left">6. <span>Is Sitemap Submitted in SC</span></label>
                <div class="w-full flex justify-around">
                    <span>
                        <input type="radio" id="yes" name="sitemap_submitted" value="true" class="scale-150 mr-1">
                        <label for="yes">Yes</label>
                    </span>
                    <span>
                        <input type="radio" id="no" name="sitemap_submitted" value="false" class="scale-150 mr-1">
                        <label for="no">No</label>
                    </span>
                </div>
            </li>
            <li class="p-3 grid grid-cols-2 even:bg-neutral-50 odd:bg-sky-200">
                <label class="text-left" for="sitemap_url">7. <span>Sitemap Slug</span></label>
                <select id="sitemap_url" name="sitemap_url" class="w-full border border-neutral-400 p-1 rounded-md">
                    <option value="sitemap.xml">sitemap.xml</option>
                    <option value="sitemap_index.xml">sitemap_index.xml</option>
                    <option value="xmlsitemap.php">xmlsitemap.php</option>
                    <option value="other">Other</option>
                </select>
                <input type="text" id="other_sitemap_url" name="other_sitemap_url" class="w-full border border-neutral-400 p-1 rounded-md hidden-input">
            </li>
        </ol>
    </div>
    <div>
        <h3 class="text-xl italic text-neutral-500 my-2">Analytics</h3>
        <ol>
        </ol>
    </div>
    <div>
        <h3 class="text-xl italic text-neutral-500 my-2">Slide Notes</h3>
        <ol>
            <li class="p-3 grid grid-cols-2 even:bg-neutral-50 odd:bg-sky-200" data-comp="dynamic-text">
                {% include 'components/dynamic-text-input.html' %}
            </li>
            <li>
                {% include 'components/image-input.html' %}
            </li>
            <li>
                {% include 'components/link-input.html' %}
            </li>
            <li>
                {% include 'components/number-input.html' %}
            </li>
            <li>
                {% include 'components/boolean-input.html' %}
            </li>
        </ol>
    </div>
</section>