<section>
    <h2 class="pt-4 font-small text-neutral-600">1. Upload the "exports" folder</h2>

<!-- File Upload -->
<!-- STOLE THIS FROM https://flowbite.com/docs/forms/file-input/ -->
<div class="flex items-center justify-center w-full">
    <label id="upload-file-container" for="spreadsheet-selection" class="flex flex-col items-center justify-center w-full h-64 border-2 border-neutral-300 border-dashed rounded-lg cursor-pointer bg-neutral-50 hover:bg-neutral-200 hover:border-neutral-400 mb-4">
        <div id="droparea" class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg id="file-upload-image"aria-hidden="true" class="w-10 h-10 mb-3 text-neutral-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
            <p class="mb-2 text-sm text-neutral-500"><span class="font-semibold">Click to upload</span></p>
            <p class="text-xs text-neutral-500">Only accepts "exports" folder</p>
        </div>
        <!-- The input seemingly can only accept files xor directories, not both. This is UI/UX problem, talk to Jake. -->
        <!-- Asking users for the 'export' directory seems like it will be easiest. Directories it is. -->
        <!-- <input id="dropzone-file" type="file" class="hidden" /> -->
        <input
            id="spreadsheet-selection"
            class="hidden"
            type="file"
            name="spreadsheet-selection"
            required 
            accept=".csv, .xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            multiple 
            webkitdirectory
        >
    </label>
    
</div>
<p class="py-2 text-center text-xl font-semibold text-neutral-700">Uploaded File: <input name="project-name" id="uploaded-file-name" readonly></input></p>

<!-- OLD FILE UPLOAD- KEEPING HERE UNTIL THE ABOVE FULLY WORKS -->
<!-- <div class="bg-neutral-100 p-8 flex flex-col justify-center text-center rounded-md outline-dashed outline-neutral-300 mb-8">
    <legend class="text-xl">
        <b>Upload Data</b>
    </legend>
    <label class="mb-8"  for="spreadsheet-selection">
        Select the `exports` folder to upload.
    </label> -->
    <!-- The input seemingly can only accept files xor directories, not both. This is UI/UX problem, talk to Jake. -->
    <!-- Asking users for the 'export' directory seems like it will be easiest. Directories it is. -->
    <!-- <input id="spreadsheet-selection" class="bg-red-200" type="file" name="spreadsheet-selection" required accept=".csv, .xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" multiple webkitdirectory>
</div> -->
</section>