<section>
<h2>3. Upload to generate the Powerpoint</h2>
<input
    id="submit-input"
    class="text-center bg-green-200 enabled:hover:bg-green-300 w-full p-6 rounded-md border border-green-700 font-medium text-lg my-4 enabled:hover:cursor-pointer enabled:hover:drop-shadow-md enabled:active:bg-green-400 disabled:opacity-50"
    type="submit"
    name="generate_ppt"
    value="Generate PPT"
    disabled
>
<!--
<div class="text-center">
    <a href="#" id="raw-data-link" class="disabled-raw-data-link">View raw audit data -></a>
</div>
-->
</section>