{% extends 'layouts/base.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/confetti.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/audit.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/components.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/drag-n-drop.js') }}"></script>
{% endblock %}

{% block page %}
{% include 'sections/header.html' %}
<main>
    <div class="max-w-screen-lg mx-auto px-5">
        {% include 'sections/audit-form/form.html' %}
    </div>
</main>
{% include 'sections/footer.html' %}
{% endblock %}