<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>{{ title }}</title> -->
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/output.css') }}">
</head>
<body>
    <header>
        <!-- <h1>TADAA!</h1> -->
        <nav class="flex flex-row gap-4 bg-slate-500 h-20 text-center drop-shadow-md border-b-2 border-slate-700 justify-center content-center"><img class="p-2" src="https://seotool.logicalposition.com/assets/images/logo-2022.png" alt="Logical Position Logo">
            <a class="bg-slate-500 text-slate-200 align-middle w-full py-6 
            hover:bg-slate-600 text-xl font-medium" href="/">Home</a>
            <!-- <li><a href="/main">Main</a></li> -->
            <a class="bg-slate-500 text-slate-200 align-middle w-full py-6 
            hover:bg-slate-600 text-xl font-medium" href="/results">Results</a>
            <a class="bg-slate-500 text-slate-200 align-middle w-full py-6 
            hover:bg-slate-600 text-xl font-medium" href="/extras">Extras</a>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <!-- <footer></footer> -->
</body>
</html>