{% extends 'layouts/base.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/components.js') }}"></script>
{% endblock %}

{% block main %}
{% include 'sections/header.html' %}
<div class="flex justify-center pt-8 pb-12">
    <div class="w-4/5 md:w-2/3 lg:w-1/2">        
        {% include 'sections/audit-form/form.html' %}
    </div>
</div>
{% include 'sections/footer.html' %}

{% endblock %}