<label class="text-left" for="robots_url"><span>Dynamic </span></label>
<div class="w-full flex flex-wrap">
    {% for option in ta_decisions.robots.options %}
        <span class="w-1/2 py-1">
            <input type="radio" id="option1" name="robots" value="{{ option.value_text }}" class="scale-150 mr-1">
            <label for="option1">{{ option.label_text }}</label>
        </span>
    {% endfor %}
    <input type="text" id="robots-text-input" name="robots" class="w-full border border-neutral-400 p-1 rounded-md hidden-input">
    <div contenteditable="true"></div>
</div>